<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crear empresa</title>
    <link rel="stylesheet" type="text/css" href="view.css" media="all">
    <script type="text/javascript" src="view.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body id="main_body">

    <img id="top" src="top.png" alt="">
    <div id="form_container">

        <h1><a>Crear empresa</a></h1>
        <form id="form_22628" class="appnitro" method="post" action="">
            <div class="form_description">
                <p>Formulario para crear empresas</p>
            </div>

            <label class="description" for="element_1">Nombre </label>
            <div>
                <input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value="" />
            </div>
            <label class="description" for="element_2">NIT </label>
            <div>
                <input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value="" />
            </div>

            <input type="hidden" name="form_id" value="22628" />

            <input class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="saveForm" class="button_text" type="submit"
                name="submit" value="Guardar" />
        </form>
    </div>
    <img id="bottom" src="bottom.png" alt="">
</body>

</html>